<div class="pinned note-container" style="width: 262px; right: 1400px; top: 10px; position: fixed;opacity: 0.5;background-size: 100%;">
  <div class='note' style="color:black;margin-top: 90px;width: 200px;transform: rotate(-10deg);text-decoration: none;padding: 20px;font-size: 18px;display: block;background: none repeat scroll 0 0 #ffc;box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);">
    <h3>Blog ! !</h3>
    <p>如果你想新建一个博客</p>
    <p>记录生活的点点滴滴</p>
    <p>不妨点击这点试试</br><%=link_to'New',new_blog_path%></p>
  </div>
</div>
